@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  font-family: Arial, Helvetica, sans-serif !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

@layer components {
  .heroBackground {
    background-image: url('/starry-sky-anchor.webp');
    background-size: cover;
    background-position: center;
    width: 1400px;
    height: auto;
  }

  .starry-sky-bg {
    background-color: #010101 !important;
  }
}

@layer base {
}

@layer components {
}
